.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 800px;
  width: 500px;
}

.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-header p {
  margin-left: 10px;
}

.card-header i {
  margin-left: 5px;
  color: rgb(244, 237, 34);
  font-size: 10px;
}

#icon {
  margin-right: 5px;
}
